* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(180, 196, 180);
  font-family: Arial;
  font-size: 20px;
  padding: 50px;
}

h1 {
  font-size: 50px;
  margin-bottom: 25px;
}

h2 {
  font-size: 50px;
  margin-bottom: 25px;
}
h3 {
  font-size: 50px;
  margin-bottom: 25px;
  text-align: center;
}

h3 {
  font-size: 50px;
  margin-bottom: 25px;
  text-align: center;
  margin-top: 25px;
  padding: 25px;
}

#your-name {
  margin-bottom: 20px;
  text-align: center;
  width: 400px;
  padding: 70px;
  margin-top: 50px;
}

#your-name h4 {
  color: olive;
}

.first {
  font-family: Courier;
  color: rgb(182, 89, 89);
  border: 5px solid #444;
  padding: 25px;
  margin-bottom: 25px;
}

p {
  margin-bottom: 20px;
}

input,
button {
  padding: 20px;
}

#course-image {
  width: 200px;
}
